{% extends 'base.html' %}

{% block titulo %}Contato |{% endblock %}

{% load crispy_forms_tags %}

{% block nav %}
{% include 'parciais/_navMain.html' %}
{% endblock %}

{% block content %}

<style>
    .sobre {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        padding: 15px;
    }
</style>

<div class="text-center">
    {% include 'parciais/_messages.html' %}
</div>
<div class="card shadow border sobre">
    <h3 class="text-center">Enviar e-mail</h3>
    <br>
    <form action="{% url 'main:contato' %}" method="POST" class="form">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-dark">Enviar</button>
    </form>
</div>

<div class="text-center" style="margin-bottom: 10px;">
    <a class="btn btn-secondary btn-lg" href="/">Início</a>
</div>
<br>
{% endblock %}