{% extends 'base.html' %}

{% block titulo %}Sobre |{% endblock %}

{% block nav %}
{% include 'parciais/_navMain.html' %}
{% endblock %}

{% block content %}

<style>
    .imagemSobre {
        border-radius: 50%;
    }

    .linksSobre {
        color: black;
    }
</style>

<div class="card shadow border" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-3 text-center" style="background-color: #87CEEB;">
            <img src="https://i.postimg.cc/fRhxNxtX/tt.jpg" alt="self" class="img-fluid imagemSobre"
                style="margin-top: 15px;">
            <br><br>
            <p class="text-center" style="font-size: 23px;">
                <strong>OLÁ, EU SOU O THIAGO FREIXO</strong>
            </p>

            <div class="text-center" style="margin-bottom: 40px; margin-top: 20px;">
                <a href="https://www.instagram.com/thiagofreixo/" class="text-reset instagram" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-instagram fa-lg linksSobre"></i>
                </a>&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/thiagofreixo?s=21&t=e61CHacWDBcUn67_YIvg9w" class="text-reset twitter"
                    style="margin-left: 10px; margin-right: 10px;" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-twitter fa-lg linksSobre"></i>
                </a>&nbsp;&nbsp;&nbsp;
                <a href="{% url 'main:contato' %}" class="text-reset envelope">
                    <i class="fa fa-envelope fa-lg linksSobre"></i>
                </a>
            </div>
        </div>

        <div class="col-md-9">
            <br>
            <h3 class="text-center" style="padding-left: 10px; padding-right: 10px;">
                Título (seu nome? outra coisa?)
            </h3>
            <div style="padding-left: 25px; padding-right: 25px; margin-top: 25px; margin-bottom: 25px;">
                <p class="text-justify">
                    Olá, meu nome é Tia-Go, sou ex jogador profissional de Counter Strike.
                    Atualmente pai de pet.
                </p>
                <p class="text-justify">Cras tincidunt ligula nec leo finibus, vel imperdiet elit
                    pharetra. Pellentesque vitae libero sit amet nisi feugiat ornare. Integer sagittis in est in
                    placerat.
                    Mauris suscipit suscipit luctus. Vestibulum nisi nunc, iaculis ut consequat at, gravida id quam.
                    Donec
                    eu semper quam. Nulla sed aliquam leo, sit amet semper tellus. Vivamus pulvinar nibh id nulla
                    molestie,
                    eu pretium felis ullamcorper. Phasellus consequat ligula ut luctus eleifend. Donec vel auctor urna.
                    Quisque a arcu mi.
                </p>
                <p class="text-justify">
                    Pellentesque pharetra dolor est, ut pulvinar neque finibus at. Ut mi metus, mollis non posuere non,
                    pulvinar ac lorem. Vestibulum interdum lorem vitae metus pretium tristique. Duis malesuada tincidunt
                    diam. Morbi orci diam, elementum non nibh eget, semper consectetur lorem. Duis nec libero luctus,
                    faucibus massa gravida, facilisis lorem. Nullam nec augue nulla. Sed mauris arcu, porttitor vitae
                    risus
                    id, fringilla egestas leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia curae; Ut blandit hendrerit lacinia. Suspendisse tristique velit velit, vel luctus ligula
                    elementum sit amet. Curabitur volutpat eu erat vel fringilla. Sed eget commodo ipsum. Aliquam quis
                    scelerisque turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    curae;
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="text-center" style="margin-bottom: 10px;">
    <a class="btn btn-secondary btn-lg" href="/">Início</a>
</div>
<br>

{% endblock %}